# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
go filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
conanfile.py filter=lfs diff=lfs merge=lfs -text
grpc filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
android filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
conan filter=lfs diff=lfs merge=lfs -text
net filter=lfs diff=lfs merge=lfs -text
pom.xml filter=lfs diff=lfs merge=lfs -text
python filter=lfs diff=lfs merge=lfs -text
rust filter=lfs diff=lfs merge=lfs -text
samples filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
snap filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
swift filter=lfs diff=lfs merge=lfs -text
Android.mk filter=lfs diff=lfs merge=lfs -text
appveyor.yml filter=lfs diff=lfs merge=lfs -text
composer.json filter=lfs diff=lfs merge=lfs -text
dart filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
js filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
lua filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
readme.md filter=lfs diff=lfs merge=lfs -text
lobster filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
php filter=lfs diff=lfs merge=lfs -text
WORKSPACE filter=lfs diff=lfs merge=lfs -text
build_defs.bzl filter=lfs diff=lfs merge=lfs -text
CMake filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
java filter=lfs diff=lfs merge=lfs -text
BUILD filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
reflection filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
